{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  <li><a href="https://github.com/spiffe/spire" title="SPIRE on GitHub"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span>SPIRE on GitHub</span></a></li>
  <li><a href="https://spiffe.io" title="Learn SPIFFE"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>Learn SPIFFE</span></a></li>
  <li><a href="https://spiffe.io/docs/" title="SPIFFE Documentation"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>SPIFFE Documentation</span></a></li>
  <li><a href="https://spiffe.io/community/" title="Join Community"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>Join Community</span></a></li>
</ul>